<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#login">Войти</a></li>
            <li class="tab col s6"><a class="active" href="#register">Регистрация</a></li>
        </ul>
    </div>
    <div id="login" class="col s6 offset-s3"></div>
    <div id="register" class="col s6 offset-s3">Test 2</div>
</div>
