<div class="columns is-multiline" id="auth">
    <div class="column is-8 is-offset-2 register">
        <div class="columns">
            <div class="column left align-center">
                <h1 class="title is-1">Webber CRM</h1>
                <h2 class="subtitle colored is-4">Управляй своими делами.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, iure?</p>
            </div>
            <div class="column right">
                <h1 class="title is-4 center">Вход</h1>
                <!--                    <p class="description">Укажите имя и E-mail, <br>доступ придёт Вам на почту.</p>-->
                <form method="POST" action="/auth/login">

                    {{#if error}}
                        <p class="help help-big is-danger">{{ error }}</p>
                    {{/if}}

                    <div class="field">
                        <label class="label">E-mail</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-medium" :class="emailCheck" type="email" placeholder="Text input" name="email" v-model="email">
                            <span class="icon is-small is-left">
                              <i class="fas fa-user"></i>
                            </span>
                            <template v-if="email !== ''">
                                <span class="icon is-small is-right" v-if="isValidateEmail">
                                  <i class="fas fa-check"></i>
                                </span>
                                <span class="icon is-small is-right" v-else>
                                  <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            </template>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Пароль</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-medium" :class="password ? 'is-success' : ''" type="password" placeholder="" name="password" v-model="password">
                            <span class="icon is-small is-left">
                              <i class="fas fa-key"></i>
                            </span>
                            <span class="icon is-small is-right" v-if="password !== ''">
                              <i class="fas fa-check"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                Запомнить меня
                            </label>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="{{ csrf }}">
                    <button type="submit" class="button is-block is-primary is-fullwidth is-medium">Войти</button>
                    <br/>
                </form>

                <div class="center">
                    <a href="/auth/register">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</div>