<div class="columns is-multiline" id="auth">
    <div class="column is-4 is-offset-4 register">
        <div class="columns">
            <div class="column right">
                <h1 class="title is-4 center">Восстановление пароля</h1>
                <!--                    <p class="description">Укажите имя и E-mail, <br>доступ придёт Вам на почту.</p>-->
                <form method="POST" action="/auth/password">

                    {{#if error}}
                        <p class="help help-big is-danger">{{ error }}</p>
                    {{/if}}

                    <div class="field">
                        <label class="label">Новый пароль</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-medium" :class="passwordCheck" type="password" placeholder="" name="password" v-model="password">
                            <span class="icon is-small is-left">
                              <i class="fas fa-key"></i>
                            </span>
                            <template v-if="password !== ''">
                                <span class="icon is-small is-right" v-if="isEqualPass">
                                  <i class="fas fa-check"></i>
                                </span>
                                <span class="icon is-small is-right" v-else>
                                  <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            </template>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Повторите пароль</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-medium" :class="passwordCheck" type="password" placeholder="" name="confirm" v-model="confirm">
                            <span class="icon is-small is-left">
                              <i class="fas fa-key"></i>
                            </span>
                            <template v-if="confirm !== ''">
                                <span class="icon is-small is-right" v-if="isEqualPass">
                                  <i class="fas fa-check"></i>
                                </span>
                                <span class="icon is-small is-right" v-else>
                                  <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            </template>
                        </div>
                        <p class="help is-danger" v-if="!isEqualPass">Пароли не совпадают</p>
                    </div>

                    <input type="hidden" name="_csrf" value="{{ csrf }}">
                    <input type="hidden" name="userId" value="{{ userId }}">
                    <input type="hidden" name="token" value="{{ token }}">

                    <button type="submit" class="button is-block is-primary is-fullwidth is-medium">Восстановить пароль</button>
                    <br/>
                </form>
            </div>
        </div>
    </div>
</div>