<div class="columns is-multiline" id="auth">
    <div class="column is-8 is-offset-2 register">
        <div class="columns">
            <div class="column left align-center">
                <h1 class="title is-1">Webber CRM</h1>
                <h2 class="subtitle colored is-4">Управляй своими делами.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, iure?</p>
            </div>
            <div class="column right">
                <h1 class="title is-4 center">Регистрация</h1>
                <!--                    <p class="description">Укажите имя и E-mail, <br>доступ придёт Вам на почту.</p>-->
                <form method="POST" action="/auth/register">
                    <div class="field">
                        <label class="label">E-mail</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-medium" :class="emailCheck" type="email" placeholder="Text input" name="email" v-model="email">
                            <span class="icon is-small is-left">
                              <i class="fas fa-user"></i>
                            </span>
                            <template v-if="email !== ''">
                                <span class="icon is-small is-right" v-if="isValidateEmail">
                                  <i class="fas fa-check"></i>
                                </span>
                                <span class="icon is-small is-right" v-else>
                                  <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            </template>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Введите пароль</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-medium" :class="passwordCheck" type="password" placeholder="" name="passwd" v-model="passwd">
                            <span class="icon is-small is-left">
                              <i class="fas fa-key"></i>
                            </span>
                            <template v-if="passwd !== ''">
                                <span class="icon is-small is-right" v-if="isEqualPass">
                                  <i class="fas fa-check"></i>
                                </span>
                                <span class="icon is-small is-right" v-else>
                                  <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            </template>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Повторите пароль</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-medium" :class="passwordCheck" type="password" placeholder="" name="confirm" v-model="confirm">
                            <span class="icon is-small is-left">
                              <i class="fas fa-key"></i>
                            </span>
                            <template v-if="confirm !== ''">
                                <span class="icon is-small is-right" v-if="isEqualPass">
                                  <i class="fas fa-check"></i>
                                </span>
                                <span class="icon is-small is-right" v-else>
                                  <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            </template>
                        </div>
                        <p class="help is-danger" v-if="!isEqualPass">Пароли не совпадают</p>
                    </div>

                    <div class="field">
                        <label class="label">Имя</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-medium" :class="nameCheck" type="text" placeholder="Text input" name="name" v-model="name">
                            <span class="icon is-small is-left">
                              <i class="fas fa-user"></i>
                            </span>
                            <template v-if="name !== ''">
                                <span class="icon is-small is-right" v-if="isValidateName">
                                  <i class="fas fa-check"></i>
                                </span>
                            </template>
                        </div>
                    </div>

                    <button type="submit" class="button is-block is-primary is-fullwidth is-medium">Зарегистрироваться</button>
                    <br/>
                </form>

                <div class="center">
                    <div>Уже зарегистрированы?</div>
                    <a href="/auth/login">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>