<div class="section">
    <nav class="navbar is-fixed-top is-spaced has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <span class="navbar-logo">Webber CRM</span>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Главная
                </a>

                <a class="navbar-item" href="/list.html">
                    Задачи
                </a>

                <a class="navbar-item" href="/customers.html">
                    Клиенты
                </a>

                <a class="navbar-item" href="/payments.html">
                    Оплаты
                </a>

                <!--
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
                -->
            </div>

            <div class="navbar-end">
                {{#if isAuth}}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light" href="/auth/logout">
                            <strong>Выход</strong>
                        </a>
                    </div>
                </div>
                {{else}}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/auth/register">
                            <strong>Регистрация</strong>
                        </a>
                        <a class="button is-light" href="/auth/login">
                            Вход
                        </a>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </nav>
</div>