<div class="section">
    <nav class="navbar is-fixed-top is-spaced has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="navbar-logo">Webber CRM</span>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Главная
                </a>

                <a class="navbar-item" href="/tasks">
                    Задачи
                </a>

                <a class="navbar-item" href="/customers">
                    Клиенты
                </a>

                {{#lessthan perm 2}}
                <a class="navbar-item" href="/payments">
                    Оплаты
                </a>
                {{/lessthan}}

                <!--
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
                -->
            </div>

            <div class="navbar-end">
                {{#if isAuth}}
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                            <span>{{ user.name.first }}</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                        <div class="dropdown-content">
                            <a href="/profile" class="dropdown-item">
                                Настройки
                            </a>
                            <hr class="dropdown-divider">
                            <a href="/auth/logout" class="dropdown-item">
                                Выйти
                            </a>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/auth/register">
                            <strong>Регистрация</strong>
                        </a>
                        <a class="button is-light" href="/auth/login">
                            Вход
                        </a>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </nav>
</div>