<!--
    шаблон по умолчанию, указанный в
    const hbs = exphbs.create()

    шаблоны должны находиться в папке layouts
    шаблон содержит основной html
-->
{{> head }} <!-- таким образом выводятся partials (чанки) - здесь выводится partials/head.hbs -->
<body>
{{> navbar }}

    {{{ body }}} <!-- так подключаются страницы внутри папки views -->

{{> footer }}
</body>
</html>