<section class="section error-404">
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title center">Ошибка 404. Страница не найдена.</h1>

                <div class="center">
                    <a href="/tasks">На страницу задач</a>
                </div>
            </div>
        </div>
    </div>
</section>