<section class="section page-edit">
    <div class="container">

        <h1 class="title center">Редактирование</h1>

        <div class="columns is-centered">
            <div class="column is-6">
                <form method="POST" action="/tasks/add">
                    <div class="field">
                        <label class="label">Задача</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Заголовок" name="name">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Описание задачи</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Lorem ipsum dolor" name="body"></textarea>
                        </div>
                    </div>

                    <div class="field-body field-body-not-last">
                        <div class="field">
                            <label class="label">Клиент</label>
                            <div class="control">
                                <div class="select">
                                    <select name="customer">
                                        <option>Клиент</option>
                                        <option>3put</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Сайт</label>
                            <div class="control">
                                <div class="select">
                                    <select name="project">
                                        <option>Сайт</option>
                                        <option>demo.com</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="field-body field-body-not-last">
                        <div class="field">
                            <label class="label">Оценка (ч)</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="" name="estimate">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Фактически</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="" name="fact">
                            </div>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-link">Сохранить</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-light">Отмена</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>