<section class="section">
    <h1 class="title">
        WEBBER CRM
    </h1>

    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-primary">
                        <p class="title">Задачи</p>
                        <p class="subtitle">3 в процессе</p>
                    </article>
                    <article class="tile is-child notification is-warning">
                        <p class="title">Оплаты</p>
                        <p class="subtitle">Все задачи оплачены</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                        <p class="title">Задачи на оценку</p>
                        <p class="subtitle">2 новых задачи</p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">Клиенты</p>
                    <p class="subtitle">1 новая заявка</p>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-success">
                <div class="content">
                    <p class="title">Статистика</p>
                    <p class="subtitle">Подробнее...</p>
                    <div class="content">
                        <!-- Content -->
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>