.center {
  text-align: center;
}

.ml-0 {
  margin: 0;
}

.w-100 {
  width: 100%;
}

.align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.justify-center {
  justify-content: center;
}

.error-404 {
  padding-top: 120px;
}